<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Build and Install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Install All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Install Embedded Items.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Install PAM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Install config.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Install i18n.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Install keygen wrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Install launchd files.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Install manpages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Install open source licenses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Install sandbox profile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Install slogin link.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>libssh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>openbsd-compat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>regression-tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>scp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>sftp-server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sftp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ssh-add.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ssh-agent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ssh-keygen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ssh-keyscan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ssh-keysign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>ssh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>sshd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>testbots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C4BA62A0FF0548000CA17F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2CBA0FEC4E73004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2DAB0FEC5695004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2E410FEC5A0D004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2E810FEC5AD3004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2E8E0FEC5AEB004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2E9B0FEC5B07004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2EA80FEC5B19004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2EB50FEC5B2E004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2EC20FEC5B54004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2ECF0FEC5B70004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2EEB0FEC5B9B004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2EF80FEC5BAF004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B2F550FEC62B7004F1935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A7190FF0152F00D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A71D0FF0155400D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A7230FF0157A00D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A7260FF0158D00D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A72C0FF015AC00D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A72F0FF015BD00D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A7320FF015D000D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A73C0FF0163B00D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A7BA0FF023C900D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C76A7BC0FF023E100D35824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C77BFA3112C99850070F7EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7D817910FFC2BE00F0889F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCA49AB0FF1AD4E0004CEAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
